
body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #413839;
    background-image:
        radial-gradient(at 4% 19%, #dc381f, transparent 50%),
        radial-gradient(at 15% 46%, #d6a1c3, transparent 50%),
        radial-gradient(at 19% 0%, #A0D6B4, transparent 50%),
        radial-gradient(at 68% 79%, #4682b4, transparent 50%),
        radial-gradient(at 20% 36%, #4682b4, transparent 50%),
        radial-gradient(at 77% 97%, #9AFEFF, transparent 50%),
        radial-gradient(at 71% 70%, #b57847, transparent 50%);
    background-size: cover;
    color: #fff8e7;
    line-height: 2;
    position: relative;
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px; 
}
#header {
    background-color:  #dc381f8c;
    backdrop-filter: blur(70px);
    color: #A0D6B4;
    padding: 50px;
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    mix-blend-mode: color-dodge;
}
nav {
    background-color: #dc381f;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    padding: 10px;
}
nav a {
    background-color: transparent;
    color: #9AFEFF;
    text-decoration: none;
    padding: 2px;
    border-radius: 50%;
    text-align-last: center;
    transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
    background-color: #9AFEFF;
    color: #DC381F;
    width: 25%;
}
a:link {
    color: #9AFEFF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #9AFEFF;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #d6a1c3;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #d6a1c3;
    background-color: transparent;
    text-decoration: underline;
}
#homebody {
    background-color: #4138395d;
    backdrop-filter: blur(100px);
    color: #fff8e7;
    padding: 20px;
    width: 50%;  
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    mix-blend-mode: luminosity;
  }
#leftbody {
    float:left;
    background-color: #4138395d;
    backdrop-filter: blur(100px);
    border: 3px outset #4138395d;
    color: #b7f2cd;
    padding: 20px;
    width: 12%;  
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
}
#centerbody {
    background-color: #4138395d;
    backdrop-filter: blur(70px);
    color: #fff8e7;
    padding: 20px;
    width: 75%;  
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: medium;
}
#aboutbody {
    background-color: transparent;
    color: #fff8e7;
    padding: 20px;
    width: 50%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    mix-blend-mode: luminosity;
}
table{
    position: relative;
}
th, td {
    padding: 5px;
    border: 2px solid #b57847;
}
th {
    text-align:center;
}
td {
    text-align:left;
}
.gallery-item {
    float:inline-start;
    clear: inline-end;
    background-color: #fff8e7;  
    width: 20%;
    margin: 10px;
    position: relative;
}
.gallery-item img {
    width: 100%;
}
.desc {
    background-color: #fff8e7; 
    color: #413839;
    text-align: left;
    padding: 5px;
    font-size: small;
}
.galler-item hover{
    border: 1px solid #413839;
}
.image-container {
    width: 30%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
    justify-content: center;
    position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.alt-image-container {
    width: 30%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
    justify-content: center;
    position: relative;
}
.alt-image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
footer {
    background-color: transparent;
    color: #e2bbd4;
    padding: 25px;
    width: auto;
    margin: 40px;
    text-align:center;
    position:static;
}
