
body {
  margin-right: 40xp;
  margin-left: 40xp;
  padding: 20xp;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background-color: #F2F0DF;
  color: #151B8D;
  line-height: 1.6;
  text-align: justify;
}
#header {
  background-color: White;
  color: #151B8D;
  padding: 2px;
  width: 93%;
  margin: auto;
  text-align: center;
}
nav {
  background-color: darkred;
   display:flex;
  justify-content: space-evenly;
  gap: 50px;
}
nav a {
  background-color: darkred;
  color: lightblue;
  text-decoration: none;
  padding: 7px 2px;
  border-radius: 10px;
  text-align-last: center;
  transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
  background-color: #A0D6B4;
  color: darkred;
  width: 25%;
}
#centerbody {
  background-color:white;
  color: #151B8D;
  padding: 20px;
  width: 89%;
  margin: auto;
  text-align:justify;
  }
#aboutbody {
  float: center;
  background-color:white;
  color: #151B8D;
  padding: 20px;
  width: 89%;
  margin: auto;
  text-align:center;
  }
footer {
  background-color: #A0D6B4;
  color: #eee;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 0.9rem;
}
