
body {
  margin-right: 40xp;
  margin-left: 40xp;
  padding: 20xp;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background: #DC381F;
  background-image: repeating-radial-gradient(circle,rgba(220, 56, 31, 1) 0%, rgba(253, 189, 1, 1) 21%, rgba(255, 248, 231, 1) 45%, rgba(154, 254, 255, 1) 50%, rgba(160, 214, 180, 1) 57%, rgba(65, 56, 57, 1) 86%, rgba(65, 56, 57, 1) 100%);
  color: #413839;
  line-height: 1.6;
  text-align: justify;
}
#header {
  background: transparent;
  color: #413839;
  padding: 2px;
  width: 93%;
  margin: auto;
  text-align:center;
}
nav {
  background-color: #DC381F;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
nav a {
  background-color: #DC381F;
  color: #9AFEFF;
  text-decoration: none;
  padding: 7px 2px;
  border-radius: 20px;
  text-align-last: center;
  transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
  background-color: #9AFEFF;
  color: #DC381F;
  width: 25%;
}
#centerbody {
  background-color:#FFF8E7;
  color: #413839;
  padding: 20px;
  width: 60%;
  margin: auto;
  text-align: justify;
  }
#aboutbody {
  float: center;
  background-color: #FFF8E7;
  color: #413839;
  padding: 20px;
  width: 89%;
  margin: auto;
  text-align: center;
  }
footer {
  background-color: rgba(65, 56, 57, 0.4);
  color: #FFF8E7;
  padding: 1px;
  width: auto;
  margin: auto;
  text-align: center;
}
